# docker socket path
# macOS with Docker Desktop: /Users/<username>/.docker/run/docker.sock
# linux / Docker in Docker: /var/run/docker.sock
DOCKER_SOCKET_PATH=/var/run/docker.sock

# database
DB_HOST=database
DB_PORT=5432
DB_USER=mrpix_sandbox
DB_PASSWORD=sandXbox_mrpix2025
DB_NAME=mrpix_sandbox
DB_SSLMODE=disable

# api
JWT_SECRET=jwtsecret-lol
APP_URL=http://localhost:8080
CONFIG_PATH=config.local.yml

# domains
API_DOMAIN=sandbox-api.zion.mr-pixel.de
WEB_DOMAIN=sandbox.zion.mr-pixel.de

# sandbox url pattern (how spawned sandbox containers are reachable)
SANDBOX_URL_PREFIX=sandbox-
SANDBOX_URL_SUFFIX=.zion.mr-pixel.de

# web frontend API URL
WEB_API_URL=http://localhost:8080
